body{
    background-color: rgb(240, 240, 240);
  }
  .foot, .head{
    background-color: green;
  }
  .foot{
    height: 50px;
  }
  .head{
    height: 80px;
  }
  .detailsDiv{
    height: 100vh;
    width: 50%;
  }
  
